html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

a {
  text-decoration: none;
}

.ect-itme ul {
  display: none;
}

#header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .inner .longo-nav-area {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#header .inner .longo-nav-area .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

#header .inner .longo-nav-area .inner .longo-area {
  width: 20%;
}

#header .inner .longo-nav-area .inner .main-menu-wrap {
  width: 80%;
  margin-left: 70px;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item + .main-item {
  margin-left: 40px;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item h2 a {
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  padding: 10px;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff url(/img/subGnb.png) no-repeat left;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .img-title-area {
  width: 300px;
  padding: 20px 40px;
  background: #fff url(/img/subGnb_1depth.png) no-repeat left;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .img-title-area .img-title-inner h2 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #8d002a;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap {
  width: 80%;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap .sub-menu-area .sub-menu-list {
  padding: 40px 0;
  position: relative;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap .sub-menu-area .sub-menu-list .sub-menu-item h3 {
  margin-bottom: 5px;
  width: 216px;
  overflow: hidden;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap .sub-menu-area .sub-menu-list .sub-menu-item h3:hover > a {
  color: #fff;
  background: #8d002a;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap .sub-menu-area .sub-menu-list .sub-menu-item h3:hover .sub-menus {
  display: block;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap .sub-menu-area .sub-menu-list .sub-menu-item h3 a {
  display: block;
  padding: 7px 10px;
  width: 200px;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap .sub-menu-area .sub-menu-list .sub-menu-item h3 .sub-menus {
  display: none;
  position: absolute;
  left: 188px;
  top: 0;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap .sub-menu-area .sub-menu-list .sub-menu-item h3 .sub-menus .sub-menus-list {
  padding: 40px 20px;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area .main-list .main-item .inner-area .section-inner .sub-menu-wrap .sub-menu-area .sub-menu-list .sub-menu-item h3 .sub-menus .sub-menus-list .sub-menus-item {
  padding: 7px 10px;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area button {
  border: none;
  background-color: #ffffff;
}

#header .inner .longo-nav-area .inner .main-menu-wrap .main-area button img {
  width: 30px;
}

#header .inner .top-nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-color: #000000;
}

#header .inner .top-nav .inner {
  width: 1200px;
  margin: 0 auto;
  padding: 4px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .inner .top-nav .inner .ect-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .inner .top-nav .inner .ect-nav .ect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .inner .top-nav .inner .ect-nav .ect-list .ect-itme + .ect-itme::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 7px;
  background-color: #ffffff;
}

#header .inner .top-nav .inner .ect-nav .ect-list .ect-itme a {
  color: #ffffff;
  font-size: 13px;
  padding: 3px;
}

#header .inner .top-nav .inner .ect-nav button {
  border: none;
  background-color: #000000;
}

#header .inner .top-nav .inner .ect-nav button img {
  width: 30px;
}

#header .inner .bottom-nav {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-color: #760023;
}

#header .inner .bottom-nav .inner {
  width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

#header .inner .bottom-nav .inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .inner .bottom-nav .inner ul li + li {
  margin-left: 30px;
}

#header .inner .bottom-nav .inner ul li a {
  font-size: 15px;
  color: #ffffff;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */