body {
  background: #ffffff;
}
#logo-area {
  background: #333;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  .logo-img {
    display: inline-flex;
    order: 2;
  }
  .header-nav {
    display: flex;
    order: 3;
    > ul {
      display: flex;
    }
    .hader-nav-item {
      // display: inline-flex;
    }
  }
  .login {
    display: flex;
    justify-content: flex-end;
    order: 1;
    .login-button {
    }
  }
}
#container {
  .section-nav {
    background: #a21948;
    .section-nav-list {
      .section-nav-item {
        display: inline-flex;
        .icon {
          display: inline-flex;
        }
      }
    }
  }
  .product-img-text-area {
    .img-item {
      display: inline-block;
    }
  }
  .product-img-area {
    .product-img {
      display: inline-flex;
    }
  }
  .month-product {
    .month-longo {
      text-align: center;
    }
    .month-longo-text {
      text-align: center;
    }
    .month-img-item {
      .img-item {
        display: inline-flex;
      }
    }
  }
}
#footer {
  background: #333;
  .check {
    display: inline-flex;
  }
  .box {
    display: flex;
    .etc-explan {
      order: 2;
    }
    .address {
      order: 1;
      .address-etc-nav {
        .address-ect-nav-item {
          display: inline-flex;
          font-size: 15px;
        }
      }
    }
  }
}
a {
  text-decoration: none;
}

.bg-test {
  width: 200px;
  height: 200px;
  background: url(/img/20210312_172314_11.png);
  h3 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
  }
}
