// Breakpoints
$breakpoint-mobile: 360px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

//color
$Primary-light: #00ad50;
$Primary-middle: #0d643a;
$Primary-dark: #06522d;
$Secondary-dark: #ffac00;
$Secondary-light: #ff8400;
$Error-dark: #ff0000;
$Error-light: #e50000;
$Grayscale-0-ff: #ffffff;
$Grayscale-1-f5: #f5f5f5;
$Grayscale-2-e5: #e5e5e5;
$Grayscale-3-cc: #cccccc;
$Grayscale-4-99: #999999;
$Grayscale-5-66: #666666;
$Grayscale-6-47: #474747;
$Grayscale-7-1c: #1c1c1c;
$Grayscale-8-00: #000000;
