html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#header .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .header-inner .longo-img-area {
  text-align: center;
  border-top: solid #eaeaea 2px;
  border-bottom: solid #eaeaea 2px;
}

#header .header-inner .header-nav-area .nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  border-bottom: solid #eaeaea 2px;
}

#header .header-inner .header-nav-area .nav .nav-list .item + .item {
  margin-left: 30px;
}

#header .header-inner .header-nav-area .nav .nav-list .item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}

#conteiner .btn-page .btn-page-inner {
  background: #eaeaea;
}

#conteiner .btn-page .btn-page-inner .page-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
}

#conteiner .btn-page .btn-page-inner .page-list .page-item .page-button {
  width: 150px;
  height: 35px;
  font-weight: bold;
  border: solid #c1c1c1 1px;
  background: #ffffff;
}

#conteiner .product .product-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 85px;
}

#conteiner .product .product-inner .text-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#conteiner .product .product-inner .text-area .main-texs-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 40px;
}

#conteiner .product .product-inner .text-area .main-texs-area span {
  margin: 10px 0px 30px 0;
}

#conteiner .product .product-inner .text-area .sub-text-area p {
  margin-bottom: 10px;
}

#conteiner .production .production-ineer {
  width: 1250px;
  margin: 0 auto;
}

#conteiner .production .production-ineer .production-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#conteiner .production .production-ineer .production-list .card {
  margin: 15px;
}

#conteiner .production .production-ineer .production-list .card .text-area {
  height: 37px;
  padding: 10px;
  background: url(/img/story02_step_arr.gif) no-repeat center right/#ea3633;
}

#conteiner .production .production-ineer .production-list .card .text-area .step {
  text-align: center;
  background: #ffffff;
  color: #ea3633;
  padding: 1px;
}

#conteiner .production .production-ineer .production-list .card .text-area .text {
  color: #ffffff;
}

#conteiner .affiliate .affiliate-inner {
  height: 80px;
  background: #e32d26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}

#conteiner .affiliate .affiliate-inner .left-area .left {
  height: 15px;
  border: none;
  background: url(/img/btn_br_left.gif) no-repeat #e32d26;
}

#conteiner .affiliate .affiliate-inner .affiliate-longo-area .longo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#conteiner .affiliate .affiliate-inner .affiliate-longo-area .longo-list .longo-card {
  padding: 10px;
}

#conteiner .affiliate .affiliate-inner .right-area .right {
  height: 15px;
  border: none;
  background: url(/img/btn_br_right.gif) no-repeat #e32d26;
}

#footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
  background: #999999;
  padding: 40px;
}

#footer .footer-inner .address-area {
  color: #ffffff;
  font-size: 14px;
}

#footer .footer-inner .address-area P + p {
  margin-top: 5px;
}

#footer .footer-inner .SNS-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-inner .SNS-area .fb-area {
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */