html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.text-area {
  padding: 10px;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
}

#header .ineer .longo-login-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #070403;
}

#header .ineer .longo-login-area .longo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .ineer .longo-login-area .longo-area .title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#header .ineer .longo-login-area .longo-area .title h1 a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 0;
}

#header .ineer .longo-login-area .longo-area .title h1 a img {
  height: 35px;
}

#header .ineer .longo-login-area .longo-area .all-menue-area {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#header .ineer .longo-login-area .longo-area .all-menue-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
}

#header .ineer .longo-login-area .login-area {
  padding: 10px;
}

#header .ineer .longo-login-area .login-area a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 0;
  font-size: 13px;
}

#header .ineer .longo-login-area .login-area a + a::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1px;
  height: 10px;
  background-color: #ffffff;
  margin: 6px;
}

#header .ineer .nav-search-area {
  background-color: #070403;
  border-top: solid #edededed 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .ineer .nav-search-area .header-nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
}

#header .ineer .nav-search-area .header-nav-area .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .ineer .nav-search-area .header-nav-area .list .item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  padding: 25px;
}

#header .ineer .nav-search-area .search-dowload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#header .ineer .nav-search-area .search-dowload .search-area .search-box input {
  border: none;
  background-color: #070403;
  height: 56px;
}

#header .ineer .nav-search-area .search-dowload .search-area .search-box button {
  border: none;
  width: 36px;
  height: 36px;
  background-color: #070403;
  background: url(/img/icon-search.png);
  padding: 10px;
  margin: 10px;
}

#header .ineer .nav-search-area .search-dowload .download-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  border: solid #886144 1px;
  padding: 23px 60px;
  background-color: #c38b61;
}

#header .ineer .tap-menu-area .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#header .ineer .tap-menu-area .list .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 20px;
}

#header .ineer .tap-menu-area .list .card a .img-area img {
  width: 25px;
  height: 25px;
}

#header .ineer .tap-menu-area .list .card a .text-area {
  padding: 5px;
}

#header .ineer .tap-menu-area .list .card a .text-area p {
  color: black;
}

#conteinner .report {
  background-color: #f4f5f7;
}

#conteinner .report .inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conteinner .report .inner .notice-area {
  background-color: #ffffff;
}

#conteinner .report .inner .notice-area + .issue-area {
  margin-left: 20px;
}

#conteinner .report .inner .notice-area .img-areas {
  position: relative;
}

#conteinner .report .inner .notice-area .img-areas p {
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: rgba(1, 1, 1, 0.5);
  color: #ffffff;
  padding: 10px;
}

#conteinner .report .inner .notice-area .text-area .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#conteinner .report .inner .notice-area .text-area .list .item::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 5px;
  background-color: #cccccc;
  border-radius: 50%;
}

#conteinner .report .inner .issue-area {
  background-color: #ffffff;
  width: 302px;
}

#conteinner .report .inner .issue-area + .powerbook-area {
  margin-left: 20px;
}

#conteinner .report .inner .issue-area .text-area {
  text-align: start;
}

#conteinner .report .inner .powerbook-area {
  background-color: #ffffff;
}

#conteinner .report .inner .powerbook-area + .aden-area {
  margin-left: 20px;
}

#conteinner .report .inner .powerbook-area .text-area dl dt {
  text-align: center;
}

#conteinner .report .inner .powerbook-area .text-area dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

#conteinner .report .inner .aden-area {
  background-color: #ffffff;
}

#conteinner .report .inner .aden-area .text-area dl dt {
  text-align: center;
}

#conteinner .report .inner .aden-area .text-area dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

#conteinner .circle .inner {
  margin-top: 45px;
}

#conteinner .circle .inner .title-area {
  text-align: center;
}

#conteinner .circle .inner .title-area h3 {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
}

#conteinner .circle .inner .circle-are .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conteinner .circle .inner .circle-are .list .item + .item {
  margin-left: 30px;
}

#conteinner .circle .inner .circle-are .list .item a .img-areas {
  padding: 83px 70px;
  border-radius: 50%;
  text-align: center;
}

#conteinner .circle .inner .circle-are .list .item a .img-areas p {
  color: #ffffff;
  font-size: 14px;
}

#conteinner .circle .inner .circle-are .list .item a .text-area {
  text-align: center;
}

#conteinner .card-area .inner .card-zip {
  margin-top: 70px;
}

#conteinner .card-area .inner .card-zip .title-area {
  text-align: center;
  margin-bottom: 30px;
}

#conteinner .card-area .inner .card-zip .title-area h3 {
  display: inline-block;
  background-color: #ffffff;
}

#conteinner .card-area .inner .card-zip .card-area .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conteinner .card-area .inner .card-zip .card-area .list .card {
  padding: 0 10px;
}

#conteinner .nshop .inner {
  background-color: #f4f5f7;
}

#conteinner .nshop .inner .card-zip {
  margin-top: 70px;
}

#conteinner .nshop .inner .card-zip .title-area {
  text-align: center;
  margin-bottom: 30px;
}

#conteinner .nshop .inner .card-zip .title-area h3 {
  display: inline-block;
  background-color: #ffffff;
}

#conteinner .nshop .inner .card-zip .card-area .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conteinner .nshop .inner .card-zip .card-area .list .card {
  padding: 0 10px;
  background: #fff;
  margin: 10px;
}

#conteinner .nshop .inner .card-zip .card-area .list .card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#conteinner .nshop .inner .card-zip .card-area .list .card a .img-area {
  padding: 30px 85px;
}

#conteinner .nshop .inner .card-zip .card-area .list .card a .img-area img {
  height: 94px;
}

#conteinner .nshop .inner .card-zip .card-area .list .card a .text-area dl dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#conteinner .nshop .inner .card-zip .card-area .list .card a .text-area dl dd span {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(/img/20210326_210522.png) no-repeat 100% 0%;
}

#conteinner .article-nav-area .inner {
  width: 810px;
  margin: 0 auto;
}

#conteinner .article-nav-area .inner .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

#conteinner .article-nav-area .inner .list .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#conteinner .article-nav-area .inner .list .item a::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2px;
  height: 2px;
  background-color: black;
  margin: 3px 12px 3px 3px;
}

#footer .inner {
  background: #000000;
}

#footer .inner .footer-nav-area {
  padding: 50px 0;
}

#footer .inner .footer-nav-area .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .inner .footer-nav-area .list .item a {
  text-decoration: none;
  color: #9d9d9d9d;
  padding: 15px;
  font-size: 14px;
}

#footer .inner .address-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 18px;
  font-size: 12px;
  color: #9d9d9d9d;
}

#footer .inner .footer-longo-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 60px 0;
}

#footer .inner .footer-longo-area .footer-img-area + .footer-img-area {
  margin-left: 50px;
}

#footer .inner .footer-longo-area .footer-img-area img {
  height: 20px;
}

.space-out {
  position: absolute;
  left: -999999px;
}

.title-area {
  padding: 10px;
}

.img-area {
  position: relative;
}

.img-area p {
  width: 100px;
  height: 31px;
  text-align: center;
  position: absolute;
  top: 160px;
  left: 105px;
  background-color: #00000008;
  border: solid #c69c7c 1px;
  color: #ffffff;
  padding: 7px;
}

.img-area p:hover {
  background-color: #c69c7c;
}

a {
  text-decoration: none;
  color: black;
}

dt {
  font-size: 16px;
}

.brown {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c69c7c;
  font-size: 13px;
  color: #ffffff;
  border-radius: 50%;
  height: 17px;
  width: 17px;
}

.gray {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #999999;
  font-size: 13px;
  color: #ffffff;
  border-radius: 50%;
  height: 17px;
  width: 17px;
}

.circle_01 {
  background: url(/img/p-01.jpg) no-repeat center;
}

.circle_02 {
  background: url(/img/p-02.jpg) no-repeat center;
}

.circle_03 {
  background: url(/img/p-03.jpg) no-repeat center;
}

.circle_04 {
  background: url(/img/p-04.jpg) no-repeat center;
}

.circle_05 {
  background: url(/img/p-05.jpg) no-repeat center;
}

.circle_06 {
  background: url(/img/p-06.jpg) no-repeat center;
}

.font-lg {
  font-size: 26px;
  font-weight: bold;
}

.fontaaaa {
  font-size: 26px;
  font-weight: bold;
  font-size: 18px;
}

.test-bg {
  background-image: url(/img/p-06.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
}

.test-card {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  width: calc(100% / 3 - (20px/3));
}
/*# sourceMappingURL=style.css.map */