html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.m-olny {
  display: none;
}

@media (min-width: 0) and (max-width: 757px) {
  .m-olny {
    display: block;
  }
}

.m-t {
  display: none;
}

@media (min-width: 0) and (max-width: 1023px) {
  .m-t {
    display: block;
  }
}

.t-only {
  display: none;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .t-only {
    display: block;
  }
}

.t-pc {
  display: none;
}

@media (min-width: 758px) and (max-width: 1023px) {
  .t-pc {
    display: block;
  }
}

.pc-only {
  display: none;
}

@media (min-width: 1024px) {
  .pc-only {
    display: block;
  }
}

.text-xs {
  font-size: 13px;
  line-height: 18px;
}

.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-md {
  font-size: 16px;
  line-height: 23px;
}

.text-lg {
  font-size: 18px;
  line-height: 26px;
}

.title-xs {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.title-sm {
  font-size: 22px;
  line-height: 22px;
  font-weight: bold;
}

.title-md {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
}

.title-lg {
  font-size: 42px;
  line-height: 42px;
  font-weight: bold;
}

@media (min-width: 0) and (max-width: 757px) {
  .text-xs {
    font-size: 10px;
    line-height: 15px;
  }
  .text-sm {
    font-size: 11px;
    line-height: 17px;
  }
  .text-md {
    font-size: 13px;
    line-height: 20px;
  }
  .text-lg {
    font-size: 15px;
    line-height: 23px;
  }
  .title-xs {
    font-size: 15px;
    line-height: 23px;
    font-weight: bold;
  }
  .title-sm {
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
  }
  .title-md {
    font-size: 27px;
    line-height: 27px;
    font-weight: bold;
  }
  .title-lg {
    font-size: 33px;
    line-height: 33px;
    font-weight: bold;
  }
}

.bg-Primary-dark {
  background-color: #06522d;
}

.bg-Primary-middle {
  background-color: #0d643a;
}

.bg-Primary-light {
  background-color: #00ad50;
}

.bg-Secondary-dark {
  background-color: #ffac00;
}

.bg-Secondary-light {
  background-color: #ff8400;
}

.bg-Error-dark {
  background-color: #ff0000;
}

.bg-Error-light {
  background-color: #e50000;
}

.bg-Grayscale-0-ff {
  background-color: #ffffff;
}

.bg-Grayscale-1-f5 {
  background-color: #f5f5f5;
}

.bg-Grayscale-2-e5 {
  background-color: #e5e5e5;
}

.bg-Grayscale-3-cc {
  background-color: #cccccc;
}

.bg-Grayscale-4-99 {
  background-color: #999999;
}

.bg-Grayscale-5-66 {
  background-color: #666666;
}

.bg-Grayscale-6-47 {
  background-color: #474747;
}

.bg-Grayscale-7-1c {
  background-color: #1c1c1c;
}

.bg-Grayscale-8-00 {
  background-color: #000000;
}

.Primary-dark {
  color: #06522d;
}

.Primary-middle {
  color: #0d643a;
}

.Primary-light {
  color: #00ad50;
}

.Secondary-dark {
  color: #ffac00;
}

.Secondary-light {
  color: #ff8400;
}

.Error-dark {
  color: #ff0000;
}

.Error-light {
  color: #e50000;
}

.Grayscale-0-ff {
  color: #ffffff;
}

.Grayscale-1-f5 {
  color: #f5f5f5;
}

.Grayscale-2-e5 {
  color: #e5e5e5;
}

.Grayscale-3-cc {
  color: #cccccc;
}

.Grayscale-4-99 {
  color: #999999;
}

.Grayscale-5-66 {
  color: #666666;
}

.Grayscale-6-47 {
  color: #474747;
}

.Grayscale-7-1c {
  color: #1c1c1c;
}

.Grayscale-8-00 {
  color: #000000;
}

.color-pink {
  color: #ff2372 !important;
}

.color-fff {
  color: #ffffff;
}

.btn-gray {
  border: none;
  color: #ffffff;
  background-color: #999999;
}

.btn-gray:hover {
  background-color: #666666;
}

.btn-black {
  border: none;
  color: #ffffff;
  background-color: #474747;
}

.btn-green {
  border: none;
  color: #ffffff;
  background-color: #0d643a;
}

.btn-green:hover {
  background-color: #06522d;
}

.btn-white {
  color: #0d643a;
  border: 1px solid #0d643a;
  background-color: #ffffff;
}

.btn-white:hover {
  background-color: #f6faf8;
}

.btn-sm {
  width: 104px;
  height: 30px;
  padding: 5px 20px;
}

.btn-sm.btn-round {
  border-radius: 30px;
}

.btn-md {
  width: 140px;
  height: 40px;
  padding: 5px 20px;
}

.btn-md.btn-round {
  border-radius: 40px;
}

.btn-lg {
  width: 270px;
  height: 56px;
  padding: 5px 20px;
}

.btn-lg.btn-round {
  border-radius: 50px;
}

@media (min-width: 0) and (max-width: 757px) {
  .btn-sm {
    width: 80px;
    height: 25px;
    padding: 4px 5px;
  }
  .btn-sm.btn-round {
    border-radius: 30px;
  }
  .btn-md {
    width: 100px;
    height: 30px;
    padding: 6px 7px;
  }
  .btn-md.btn-round {
    border-radius: 40px;
  }
  .btn-lg {
    width: 150px;
    height: 35px;
    padding: 5px 10px;
  }
  .btn-lg.btn-round {
    border-radius: 50px;
  }
}

.btn-revitalize-tab-green {
  color: #ffffff;
  background-color: #0d643a;
  border: 1px solid #0d643a;
}

.btn-revitalize-tab-green:hover {
  background-color: #06522d;
  border: 1px solid #06522d;
}

.btn-deactivate-tab-white {
  color: #1c1c1c;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.btn-deactivate-tab-white:hover {
  color: #666666;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

.btn-revitalize-tab-size {
  width: 256px;
  height: 60px;
  padding: 5px 20px;
}

.btn-deactivate-tab-size {
  width: 256px;
  height: 60px;
  padding: 5px 20px;
}

@media (min-width: 0) and (max-width: 757px) {
  .btn-revitalize-tab-size {
    width: 180px;
    height: 50px;
    padding: 5px 10px;
  }
  .btn-deactivate-tab-size {
    width: 180px;
    height: 50px;
    padding: 5px 10px;
  }
}

.tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tab-list > li {
  background-color: #ffffff;
  color: #1c1c1c;
  border: 1px solid #0d643a;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 10px 0px;
}

.tab-list > li.on {
  background-color: #0d643a;
  color: #ffffff;
}

@media (min-width: 757px) {
  .tab-list > li:hover {
    background-color: #06522d;
    color: #ffffff;
  }
}

.tab-list::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: -37px;
  right: 15px;
  background: url(/img/png-clipart-arrow-computer-icons-logo-white-down-arrow-miscellaneous-angle.png) no-repeat center/30px 30px;
}

@media (min-width: 0) and (max-width: 757px) {
  .tab-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    margin-top: 0;
    padding-top: 44px;
  }
  .tab-list.opend {
    height: 45px;
    overflow: hidden;
  }
  .tab-list > li.on {
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 45px;
  }
}

.tab-content .tab-content-list .tab-content-item {
  display: none;
  padding: 0 60px;
}

.tab-content .tab-content-list .tab-content-item.on {
  display: block;
}

@media (min-width: 0) and (max-width: 757px) {
  .tab-content .tab-content-list .tab-content-item.pd20px {
    padding: 0 20px;
  }
  .tab-content .tab-content-list .tab-content-item.pd50px {
    padding: 0 50px;
  }
}

.tab-content .tab-content-list .tab-content-item .color-chip-area .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.tab-content .tab-content-list .tab-content-item .color-chip-area .color-chip-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-content .tab-content-list .tab-content-item .color-chip-area .color-chip-list .color-chip {
  color: #ffffff;
  width: 118px;
  height: 46px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.tab-content .tab-content-list .tab-content-item .color-chip-area .color-chip-list .color-chip.primary-light {
  background: #00ad50;
}

.tab-content .tab-content-list .tab-content-item .color-chip-area .color-chip-list .color-chip + .color-chip {
  margin-bottom: 40px;
  margin-left: 10px;
}

@media (min-width: 0) and (max-width: 757px) {
  .tab-content .tab-content-list .tab-content-item .color-chip-area .color-chip-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tab-content .tab-content-list .tab-content-item .color-chip-area .color-chip-list .color-chip {
    width: 48%;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .tab-content .tab-content-list .tab-content-item .color-chip-area .color-chip-list .color-chip + .color-chip {
    width: 48%;
    margin-bottom: 5px;
    margin-left: 5px;
  }
}

@media (min-width: 0) and (max-width: 757px) {
  .tab-content .tab-content-list .tab-content-item .color-chip-area + .color-chip-area {
    margin-top: 25px;
  }
}

.tab-content .tab-content-list .tab-content-item .font-guide-container .title {
  width: 453px;
  font-size: 18px;
  font-weight: bold;
  color: #ff2372;
  border-bottom: 1px solid #ff2372;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

@media (min-width: 0) and (max-width: 757px) {
  .tab-content .tab-content-list .tab-content-item .font-guide-container .title {
    width: 226px;
  }
}

.tab-content .tab-content-list .tab-content-item .font-guide-container .font-guide-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-content .tab-content-list .tab-content-item .font-guide-container .font-guide-area .body-font-area + .title-font-area {
  margin-left: 98px;
}

.tab-content .tab-content-list .tab-content-item .font-guide-container .font-guide-area .body-font-area .body-font-item + .body-font-item {
  margin-top: 16px;
}

.tab-content .tab-content-list .tab-content-item .font-guide-container .font-guide-area .title-font-area .title-font-item + .title-font-item {
  margin-top: 16px;
}

@media (min-width: 0) and (max-width: 757px) {
  .tab-content .tab-content-list .tab-content-item .font-guide-container .font-guide-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-content .tab-content-list .tab-content-item .font-guide-container .font-guide-area .body-font-area + .title-font-area {
    margin-left: 0px;
  }
  .tab-content .tab-content-list .tab-content-item .font-guide-container .font-guide-area .title-font-area {
    margin-top: 15px;
  }
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .button-area {
  margin-bottom: 40px;
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .button-area .button-list .button-item > button + button {
  margin-left: 5px;
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .button-area .button-list .button-item.button-item {
  margin-top: 16px;
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .button-round-area {
  margin-bottom: 40px;
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .button-round-area .button-round-list .button-round-item > button + button {
  margin-left: 5px;
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .button-round-area .button-round-list .button-round-item.button-round-item {
  margin-top: 16px;
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .tab-button-area {
  margin-bottom: 40px;
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .tab-button-area .tab-button-list .tab-button-item > button + button {
  margin-left: 5px;
}

.tab-content .tab-content-list .tab-content-item .button-guide-area .tab-button-area .tab-button-list .tab-button-item.tab-button-item {
  margin-top: 16px;
}

@media (min-width: 0) and (max-width: 757px) {
  .tab-content .tab-content-list .tab-content-item .button-guide-area .button-area {
    margin-bottom: 40px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .button-area .button-list .button-item > button {
    margin-bottom: 3px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .button-area .button-list .button-item > button + button {
    margin-left: 0px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .button-area .button-list .button-item.button-item {
    margin-top: 16px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .button-round-area {
    margin-bottom: 40px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .button-round-area .button-round-list .button-round-item > button {
    margin-bottom: 3px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .button-round-area .button-round-list .button-round-item > button + button {
    margin-left: 0px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .button-round-area .button-round-list .button-round-item.button-round-item {
    margin-top: 16px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .tab-button-area {
    margin-bottom: 40px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .tab-button-area .tab-button-list .tab-button-item > button {
    margin-bottom: 5px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .tab-button-area .tab-button-list .tab-button-item > button + button {
    margin-left: 0px;
  }
  .tab-content .tab-content-list .tab-content-item .button-guide-area .tab-button-area .tab-button-list .tab-button-item.tab-button-item {
    margin-top: 16px;
  }
}

.form-guide-container .form-guide-area .title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 16px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide.margin39 {
  margin-bottom: 39px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area {
  font-size: 14px;
  line-height: 20px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area.margin16 {
  margin-bottom: 16px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"] {
  position: absolute;
  left: -88888px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"] + .Checked1-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"] + .Checked1-box::before {
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

@media (min-width: 0) and (max-width: 757px) {
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"] + .Checked1-box::before {
    width: 15px;
    height: 15px;
  }
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"]:checked + .Checked1-box::before {
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  background: url(../../img/black-checked.png) center;
}

@media (min-width: 0) and (max-width: 757px) {
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"]:checked + .Checked1-box::before {
    width: 15px;
    height: 15px;
  }
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"] + .Checked2-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"] + .Checked2-box::before {
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

@media (min-width: 0) and (max-width: 757px) {
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"] + .Checked2-box::before {
    width: 15px;
    height: 15px;
  }
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"]:checked + .Checked2-box::before {
  content: "";
  width: 19px;
  height: 19px;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  background: url(../../img/green-checked.png) center;
}

@media (min-width: 0) and (max-width: 757px) {
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area input[type="checkbox"]:checked + .Checked2-box::before {
    width: 15px;
    height: 15px;
  }
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area + .check-box-area {
  margin-left: 16px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .radio-box-area input[type="radio"] {
  position: absolute;
  left: -88888px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .radio-box-area input[type="radio"] + .radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .radio-box-area input[type="radio"] + .radio-btn::before {
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
  display: block;
  background: url(../../img/radio-btn.png) center/cover;
}

@media (min-width: 0) and (max-width: 757px) {
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .radio-box-area input[type="radio"] + .radio-btn::before {
    width: 18px;
    height: 18px;
  }
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .radio-box-area input[type="radio"]:checked + .radio-btn::before {
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 10px;
  display: block;
  cursor: pointer;
  background: url(../../img/radio-btn-checked.png) center/cover;
}

@media (min-width: 0) and (max-width: 757px) {
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .radio-box-area input[type="radio"]:checked + .radio-btn::before {
    width: 18px;
    height: 18px;
  }
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .radio-box-area + .radio-box-area {
  margin-left: 16px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area {
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area.margin16 {
  margin-bottom: 16px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area #input-box {
  width: 400px;
  height: 40px;
  padding: 8px 10px;
  border: 1px solid transparent;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area #input-box::-webkit-input-placeholder {
  font-size: 16px;
  color: #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area #input-box:-ms-input-placeholder {
  font-size: 16px;
  color: #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area #input-box::-ms-input-placeholder {
  font-size: 16px;
  color: #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area #input-box::placeholder {
  font-size: 16px;
  color: #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area #input-box:focus {
  border: 1px solid #0d643a;
  outline: 0;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area + .input-box-area {
  margin-left: 16px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area {
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area.margin16 {
  margin-bottom: 16px;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area #text-box {
  width: 1280px;
  height: 190px;
  padding: 8px 10px;
  border: 1px solid transparent;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area #text-box::-webkit-input-placeholder {
  font-size: 16px;
  color: #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area #text-box:-ms-input-placeholder {
  font-size: 16px;
  color: #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area #text-box::-ms-input-placeholder {
  font-size: 16px;
  color: #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area #text-box::placeholder {
  font-size: 16px;
  color: #cccccc;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area #text-box:focus {
  border: 1px solid #0d643a;
  outline: 0;
}

.form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area + .text-area {
  margin-left: 16px;
}

@media (min-width: 0) and (max-width: 757px) {
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area {
    margin-left: 8px;
    margin-bottom: 8px;
  }
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .check-box-area + .check-box-area {
    margin-left: 8px;
    margin-bottom: 8px;
  }
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area #input-box {
    width: 200px;
    height: 10px;
    padding: 8px 10px;
  }
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .input-box-area + .input-box-area {
    margin-left: 16px;
  }
  .form-guide-container .form-guide-area .form-guide-list .form-guide > form > fieldset .text-area #text-box {
    width: 215px;
    height: 40px;
  }
}

.etc-guide-area .bread-scrum .title.margin16 {
  margin-bottom: 16px;
}

.etc-guide-area .bread-scrum .bread-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.etc-guide-area .bread-scrum .bread-list.margin40 {
  margin-bottom: 40px;
}

.etc-guide-area .bread-scrum .bread-list .bread-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.etc-guide-area .bread-scrum .bread-list .bread-item .home-icon {
  display: block;
  width: 16px;
  height: 14px;
  background: url(../../img/home-bread.png);
}

.etc-guide-area .bread-scrum .bread-list .bread-item .depth1 {
  display: block;
  text-decoration: none;
  color: #999999;
  font-size: 14px;
}

.etc-guide-area .bread-scrum .bread-list .bread-item .depth2 {
  display: block;
  text-decoration: none;
  color: #999999;
  font-size: 14px;
}

.etc-guide-area .bread-scrum .bread-list .bread-item + .bread-item::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px 8px 0px 9px;
  width: 5px;
  height: 9px;
  background: url(../../img/bread-right-arrow.png);
}

.etc-guide-area .page-nation-area.margin40 {
  margin-bottom: 40px;
}

.etc-guide-area .page-nation-area .title {
  margin-bottom: 16px;
}

.etc-guide-area .page-nation-area .page-nation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 0) and (max-width: 757px) {
  .etc-guide-area .page-nation-area .page-nation :nth-child(8) {
    display: none;
  }
  .etc-guide-area .page-nation-area .page-nation :nth-child(9) {
    display: none;
  }
  .etc-guide-area .page-nation-area .page-nation :nth-child(10) {
    display: none;
  }
  .etc-guide-area .page-nation-area .page-nation :nth-child(11) {
    display: none;
  }
  .etc-guide-area .page-nation-area .page-nation :nth-child(12) {
    display: none;
  }
}

.etc-guide-area .page-nation-area .page-nation .page-item.arrow {
  display: none;
}

.etc-guide-area .page-nation-area .page-nation .page-item.arrow.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.etc-guide-area .page-nation-area .page-nation .page-item + .page-item {
  margin-left: 8px;
}

@media (min-width: 0) and (max-width: 757px) {
  .etc-guide-area .page-nation-area .page-nation .page-item + .page-item {
    margin-left: 4px;
  }
}

.etc-guide-area .page-nation-area .page-nation .page-item.go-back-first a {
  background: url(../../img/left-double-arrow.png) no-repeat center;
}

.etc-guide-area .page-nation-area .page-nation .page-item.go-prev a {
  background: url(../../img/left-arrow.png) no-repeat center;
}

.etc-guide-area .page-nation-area .page-nation .page-item.go-next a {
  background: url(../../img/right-arrow.png) no-repeat center;
}

.etc-guide-area .page-nation-area .page-nation .page-item.go-end a {
  background: url(../../img/right-double-arrow.png) no-repeat center;
}

.etc-guide-area .page-nation-area .page-nation .page-item.on a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0d643a;
  border: 1px solid #0d643a;
  color: #ffffff;
}

.etc-guide-area .page-nation-area .page-nation .page-item .page-number {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #dddddd;
  text-decoration: none;
}

@media (min-width: 757px) {
  .etc-guide-area .page-nation-area .page-nation .page-item .page-number:hover {
    border: 1px solid #1c1c1c;
    background-color: #ffffff;
    color: #1c1c1c;
  }
}

@media (min-width: 0) and (max-width: 757px) {
  .etc-guide-area .page-nation-area .page-nation .page-item .page-number {
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
  }
}

.etc-guide-area .quick-view-container .title span {
  font-size: 14px;
  line-height: 20px;
}

.etc-guide-area .quick-view-container .title.margin16 {
  margin-bottom: 16px;
}

.etc-guide-area .quick-view-container .quick-area {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

@media (min-width: 0) and (max-width: 757px) {
  .etc-guide-area .quick-view-container .quick-area {
    display: none;
  }
}

.etc-guide-area .quick-view-container .quick-area .quick-choices {
  width: 121px;
  height: 479px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list {
  padding: 30px 0 50px 0;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item {
  margin-bottom: 25px;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item .quick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item .quick .quck-icon {
  margin-bottom: 5px;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item .quick .quck-icon.mypage {
  width: 55px;
  height: 35px;
  background: url(../../img/mypage.png) no-repeat center;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item .quick .quck-icon.until-car {
  width: 55px;
  height: 35px;
  background: url(../../img/until-car.png) no-repeat center;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item .quick .quck-icon.attention-car {
  width: 55px;
  height: 35px;
  background: url(../../img/attention-car.png) no-repeat center;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item .quick .quck-icon.car-comparison {
  width: 55px;
  height: 35px;
  background: url(../../img/car-comparison.png) no-repeat center;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item .quick .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 20px;
  border-radius: 30px;
  background: #0d643a;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.etc-guide-area .quick-view-container .quick-area .quick-choices .quick-list .quick-item .quick .icon-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.etc-guide-area .quick-view-container .quick-area .top-btn-area {
  position: relative;
}

.etc-guide-area .quick-view-container .quick-area .top-btn-area .top-btn {
  position: absolute;
  left: 34px;
  bottom: -25px;
  width: 50px;
  height: 50px;
  border: none;
  background: url(../../img/top-btn.png) no-repeat center;
}

.etc-guide-area .quick-view-container .quick-area .quick-call-area {
  position: relative;
}

.etc-guide-area .quick-view-container .quick-area .quick-call-area .quick-call {
  display: block;
  position: absolute;
  top: 50px;
  width: 121px;
  height: 124px;
  background: url(../../img/quick-call.png) no-repeat center;
}
/*# sourceMappingURL=style.css.map */