html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

body {
  background: #161515;
  color: honeydew;
}

#header {
  background: #e5e5e5;
  width: 100%;
  font-size: 0;
  height: 145px;
  display: inline-block;
}

#header #longo-area {
  margin-bottom: -123px;
  padding-left: 250px;
}

#header #longo-area img {
  margin-top: 10px;
}

#header .header-nav .nav-usr {
  font-size: 15px;
  text-align: center;
  padding-left: 500px;
}

#header .header-nav .nav-usr a + a {
  margin-left: 25px;
}

#header .header-nav .nav-usr a + a + span {
  margin-left: 25px;
}

#header .header-nav .nav-usr .button button {
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

#header .header-nav .nav-list {
  font-size: 18px;
  margin: 70px 0 0 530px;
}

#header .header-nav .nav-list ul .list {
  display: inline-block;
  list-style-type: none;
  margin-right: 30px;
}

#header .header-nav .nav-list ul .list .list + .list + .list + .list + .list {
  margin-left: 400px;
}

#container #sing-in {
  height: 270px;
  background: #072407;
}

#container #sing-in .sing-in-longo-area {
  text-align: center;
  padding-right: 700px;
}

#container #sing-in .sing-in-longo-area img {
  height: 160px;
  margin-top: 20px;
}

#container #sing-in .sing-in-longo-area p {
  font-size: 30px;
}

#container #sing-in .sing-in-longo-area span {
  font-size: 35px;
  font-weight: bold;
}

#container #sing-in .sing-in-content {
  margin-left: 500px;
}

#container #sing-in .sing-in-content .sing-in-content-reward {
  text-align: left;
  margin-top: -210px;
}

#container #sing-in .sing-in-content .sing-in-content-reward dt {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

#container #sing-in .sing-in-content .sing-in-content-reward dd {
  font-size: 16px;
}

#container #sing-in .sing-in-content .sing-in-content-reward dd span {
  font-weight: bold;
}

#container #sing-in .sing-in-content .sing-in-content-reward .reward-button {
  text-align: end;
  padding-right: 170px;
  margin-top: 10px;
}

#container #sing-in .sing-in-content-gift {
  text-align: center;
  text-align: left;
  font-size: 14px;
}

#container #sing-in .sing-in-content-gift p span {
  font-weight: bold;
}

#container #sing-in .sing-in-content-gift .gift-button {
  text-align: end;
  padding-right: 165px;
}

#footer .footer-nav {
  font-size: 0;
}

#footer .footer-nav ul .nav-list {
  display: inline-block;
  width: calc(20% - (40px / 5));
  font-size: 15px;
  margin-top: 50px;
  text-align: center;
  min-height: 210px;
  vertical-align: top;
  background: red;
}

#footer .footer-nav ul .nav-list dl dt {
  margin-bottom: 30px;
}

#footer .footer-nav ul .nav-list dl dd + dd {
  margin-top: 15px;
}

#footer .footer-nav ul .nav-list + .nav-list {
  margin-left: 10px;
}

#footer .footer-award {
  font-size: 0;
}

#footer .footer-award ul .award-list {
  display: inline-block;
  width: calc(16.66% - (20px / 6));
  font-size: 13px;
  margin-top: 50px;
  text-align: left;
  min-height: 210px;
  vertical-align: top;
}

#footer .footer-award ul .award-list dl dt {
  margin-bottom: 10px;
}

#footer .footer-award ul .award-list dl dt .award-img {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(/icon.png) -148px -118px;
  vertical-align: middle;
}

#footer .footer-award ul .award-list dl dd {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

#footer .footer-award ul .award-list dl dd + dd {
  margin-top: 15px;
}

.test {
  width: 1000px;
  background: red;
  height: 300px;
}

.test li {
  display: inline-block;
  width: 100px;
  height: 300px;
  background: royalblue;
}
/*# sourceMappingURL=style.css.map */