.m-olny {
  display: none;
  @include M {
    display: block;
  }
}

.m-t {
  display: none;
  @include MtoT {
    display: block;
  }
}

.t-only {
  display: none;
  @include T {
    display: block;
  }
}

.t-pc {
  display: none;
  @include T {
    display: block;
  }
}

.pc-only {
  display: none;
  @include PC {
    display: block;
  }
}
