html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.right {
  background: url(/img/depth_2_arrow.png) no-repeat center left 245px;
}

.new {
  background: url(/img/dep3_nw.png) no-repeat left;
}

a {
  text-decoration: none;
}

#header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .inner .longo-menu-area {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  position: relative;
}

#header .inner .longo-menu-area .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header .inner .longo-menu-area .inner .longo-area {
  width: 17%;
}

#header .inner .longo-menu-area .inner .longo-area h1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .inner .longo-menu-area .inner .longo-area h1 a img {
  width: 164px;
  height: 94px;
}

#header .inner .longo-menu-area .inner .menu-area {
  width: 83%;
}

#header .inner .longo-menu-area .inner .menu-area .m-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme + .m-itme {
  margin-left: 29px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme:hover .sub-menu-area {
  display: block;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme a {
  font-size: 17px;
  font-weight: bold;
  color: #191919;
  padding: 10px 19px 36px 19px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area {
  display: none;
  background: url(/img/subGnb.png);
  height: 355px;
  border-top: 1px solid #ededee;
  border-bottom: 1px solid #8d002a;
  position: absolute;
  left: 0;
  right: 0;
  top: 94px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .inner {
  height: 100%;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .inner .sub-menu-title {
  position: absolute;
  left: 360px;
  right: 0;
  background: url(/img/subGnb_1depth.png) no-repeat left;
  width: 288px;
  height: 100%;
  padding: 35px 40px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .inner .sub-menu-title h2 {
  font-size: 27px;
  color: #8d002a;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .inner .sub-menu-title h2::after {
  content: "";
  display: block;
  width: 18px;
  height: 20px;
  background: url(/img/subGnbTitleIcon.png) no-repeat right;
  padding-right: 3px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .inner .sub-menu-title p {
  font-size: 14px;
  margin-bottom: 5px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu {
  position: absolute;
  left: 649px;
  right: 0;
  width: 320px;
  height: 353px;
  padding: 35px 30px;
  border-right: 1px solid #ededed;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list .s-itme:hover .subs-area {
  display: block;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list .s-itme a {
  font-size: 17px;
  font-weight: normal;
  display: block;
  padding: 7px 10px;
  margin-bottom: 10px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list .s-itme a:hover {
  background-color: #8d002a;
  color: #fff;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list .s-itme .subs-area {
  display: none;
  width: 969px;
  height: 353px;
  position: absolute;
  left: 280px;
  right: 0;
  top: 0px;
  padding: 35px 30px 35px 70px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list .s-itme .subs-area .su-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list .s-itme .subs-area .su-list .su-item {
  padding-left: 13px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list .s-itme .subs-area .su-list .su-item a {
  color: #191919;
  background-color: #fff;
  font-size: 15px;
}

#header .inner .longo-menu-area .inner .menu-area .m-list .m-itme .sub-menu-area .sub-menu .s-list .s-itme .subs-area .su-list .su-item a:hover {
  color: #8d002a;
}

#header .inner .top-navi {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-color: #000000;
  width: 100%;
}

#header .inner .top-navi .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#header .inner .top-navi .inner .etc-area .e-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .inner .top-navi .inner .etc-area .e-list .e-item + .e-item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #fff;
}

#header .inner .top-navi .inner .etc-area .e-list .e-item a {
  color: #fff;
  font-size: 13px;
  padding: 10px 5px;
}

#header .inner .top-navi .inner .user-search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .inner .top-navi .inner .user-search-area .user-area .u-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .inner .top-navi .inner .user-search-area .user-area .u-list .u-item:hover .sub-u-area {
  display: block;
}

#header .inner .top-navi .inner .user-search-area .user-area .u-list .u-item + .u-item::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #fff;
}

#header .inner .top-navi .inner .user-search-area .user-area .u-list .u-item a {
  color: #fff;
  font-size: 13px;
  padding: 10px 5px;
}

#header .inner .top-navi .inner .user-search-area .user-area .u-list .u-item .sub-u-area {
  display: none;
}

#header .inner .top-navi .inner .user-search-area .user-area .u-list .u-item .sub-u-area .sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 37px;
  top: 45px;
}

#header .inner .top-navi .inner .user-search-area .user-area .u-list .u-item .sub-u-area .sub-list .sub-itme + .sub-itme::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #000;
}

#header .inner .top-navi .inner .user-search-area .user-area .u-list .u-item .sub-u-area .sub-list .sub-itme a {
  color: #000000;
}

#header .inner .top-navi .inner .user-search-area .search-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .inner .top-navi .inner .user-search-area .search-area:hover form {
  display: inline-block;
}

#header .inner .top-navi .inner .user-search-area .search-area form {
  display: none;
}

#header .inner .top-navi .inner .user-search-area .search-area form fieldset #search {
  border: none;
  width: 150px;
  height: 46px;
}

#header .inner .top-navi .inner .user-search-area .search-area form fieldset input {
  border: none;
  width: 34px;
  height: 46px;
  background-color: #929292;
  color: #fff;
}

#header .inner .top-navi .inner .user-search-area .search-area #search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 43px;
  height: 46px;
  border: none;
  background-color: #000000;
}

#header .inner .bottom-navi {
  background-color: #760023;
  width: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#header .inner .bottom-navi .inner {
  padding: 7px;
}

#header .inner .bottom-navi .inner .b-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header .inner .bottom-navi .inner .b-list .b-item + .b-item {
  margin-left: 30px;
}

#header .inner .bottom-navi .inner .b-list .b-item a {
  color: #fff;
  font-size: 15px;
  padding: 5px;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */