html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sr-only {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#header {
  background-color: #000000;
}

#header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  color: #ffffff;
}

#header .inner .longo-area {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .inner .longo-area h1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#header .inner .longo-area .all-menu-area {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#header .inner .longo-area .all-menu-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px;
}

#header .inner .menu-area {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#header .inner .menu-area .header-menu-area .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .inner .menu-area .header-menu-area .menu-list .item {
  font-size: 18px;
}

#header .inner .menu-area .header-menu-area .menu-list .item + .item {
  margin-left: 10px;
}

#header .inner .menu-area .header-menu-area .menu-list .item a {
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
}

#header .inner .menu-area .header-small-menu-area a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .inner .menu-area .header-small-menu-area a .dot {
  width: 3px;
  height: 3px;
  background-color: aqua;
  border-radius: 10px;
  margin-right: 10px;
}

#header .inner .menu-area .search-area form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .inner .menu-area .search-area form fieldset .search-box {
  border-bottom: solid #ffffff 2px;
}

#header .inner .menu-area .search-area form fieldset .search-box #search {
  background-color: #000000;
  border: none;
  width: 300px;
  height: 30px;
}

#header .inner .menu-area .search-area form fieldset .search-box a img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px;
}

#header .inner .menu-area .search-area form fieldset .icon-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
}

#header .inner .menu-area .search-area form fieldset .icon-area a img {
  -o-object-fit: none;
     object-fit: none;
}

#article .rankng .inner {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#article .rankng .inner .title-area {
  padding-bottom: 30px;
}

#article .rankng .inner .rankng-button-area button {
  border: none;
  background-color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  color: #555555;
  padding: 10px;
  cursor: -webkit-grab;
  cursor: grab;
}

#article .rankng .inner .rankng-button-area button:hover {
  color: #ec7d2c;
}

#article .rankng .inner .rankng-card-area .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#article .rankng .inner .rankng-card-area .card-list .card + .card {
  margin-left: 15px;
}

#article .rankng .inner .rankng-card-area .card-list .card .card-innr {
  padding: 30px;
}

#article .rankng .inner .rankng-card-area .card-list .card .card-innr .img-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#article .rankng .inner .rankng-card-area .card-list .card .card-innr .img-area img {
  height: 300px;
}

#article .rankng .inner .rankng-card-area .card-list .card .card-innr .img-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#article .rankng .inner .rankng-card-area .card-list .card .card-innr .text-area {
  width: 214px;
  padding: 10px 0 20px 0;
  border-bottom: solid #e5e5e5 1px;
  line-height: 30px;
}

#article .rankng .inner .rankng-card-area .card-list .card .card-innr .text-area dl dt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

#article .rankng .inner .rankng-card-area .card-list .card .card-innr .text-area dl dd {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
}

#article .rankng .inner .rankng-card-area .card-list .card .card-innr .grade-area {
  position: relative;
  bottom: 131px;
  width: 40px;
  height: 40px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #ec7d2c 1px;
  background-color: #ec7d2c;
}

#article .rankng .inner .rankng-add-link-area {
  padding: 40px 0px;
}

#article .rankng .inner .rankng-add-link-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: #000000;
  padding: 10px 40px;
  border: solid #e5e5e5 1px;
}

#article .musical .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

#article .musical .inner .title-area {
  padding-bottom: 30px;
}

#article .musical .inner .musical-card-area .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#article .musical .inner .musical-card-area .card-list .card + .card {
  margin-left: 15px;
}

#article .musical .inner .musical-card-area .card-list .card .card-innr {
  padding: 10px;
}

#article .musical .inner .musical-card-area .card-list .card .card-innr .img-area img {
  height: 350px;
}

#article .musical .inner .musical-card-area .card-list .card .card-innr .img-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#article .musical .inner .musical-card-area .card-list .card .card-innr .text-area {
  padding: 20px 0;
  line-height: 30px;
  text-align: center;
}

#article .musical .inner .musical-card-area .card-list .card .card-innr .discount {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  bottom: 120px;
  left: 10px;
}

#article .musical .inner .musical-card-area .card-list .card .card-innr .discount span {
  width: 60px;
  height: 60px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #ec7d2c 1px;
  border-radius: 50%;
  background-color: #ec7d2c;
  font-size: 18px;
}

#article .concert .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

#article .concert .inner .title-area {
  padding-bottom: 30px;
}

#article .concert .inner .concert-card-area .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#article .concert .inner .concert-card-area .card-list .card + .card {
  margin-left: 15px;
}

#article .concert .inner .concert-card-area .card-list .card .card-innr {
  padding: 10px;
}

#article .concert .inner .concert-card-area .card-list .card .card-innr .img-area img {
  height: 350px;
}

#article .concert .inner .concert-card-area .card-list .card .card-innr .img-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#article .concert .inner .concert-card-area .card-list .card .card-innr .text-area {
  padding: 20px 0;
  line-height: 30px;
  text-align: center;
}

#article .concert .inner .concert-card-area .card-list .card .card-innr .single {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  bottom: 120px;
  left: 10px;
}

#article .concert .inner .concert-card-area .card-list .card .card-innr .single span {
  width: 60px;
  height: 60px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #ec7d2c 1px;
  border-radius: 50%;
  background-color: #ec7d2c;
}

#footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#footer .inner .tel-area a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px;
}

#footer .inner .tel-area p {
  margin-top: 15px;
}

#footer .inner .tel-area p span {
  line-height: 20px;
  font-size: 12px;
  display: block;
}

#footer .inner .footer-icon-area {
  border-left: solid #e5e5e5 1px;
  border-right: solid #e5e5e5 1px;
  padding: 0 40px;
}

#footer .inner .footer-icon-area .icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .inner .footer-icon-area .icon-list .item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #000000;
  width: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .inner .footer-icon-area .icon-list .item a .image-area {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .inner .footer-icon-area .icon-list .item a span {
  margin-top: 6px;
  display: block;
  font-size: 12px;
  text-align: center;
}

#footer .inner .SNS-icon-area .sns-area {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#footer .inner .SNS-icon-area .sns-area a {
  padding: 10px;
  text-decoration: none;
}

#footer .inner .SNS-icon-area .download-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .inner .SNS-icon-area .download-area a {
  text-decoration: none;
  width: 50%;
  display: inline-block;
  padding: 10px;
}

#footer .inner .deduction a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px;
}

.m1300 {
  width: 1300px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */